.filters {
    display: flex;
    align-items: flex-end;
}
.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
}
.double-filter {
    display: flex;
}
.double-filter .filter.f-left {
    margin-right: 0;
}
.f-checkbox {
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    background-color: #2A4252;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.filters > button {
    padding: 0 15px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    background-color: #0D6EFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter input, .filter select {
    padding: 0 15px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    background-color: #2A4252;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter select.large, .filter input.large {
    width: 150px;
}
.filter:not(.f-checkbox) label {
    font-size: 12px;
}
.double-filter .f-left input {
    border-radius: 20px 0 0 20px;
}
.double-filter .f-right input {
    border-radius: 0 20px 20px 0;
}
.f-checkbox input {
    width: 15px;
    height: 15px;
    box-shadow: none;
    background: none;
    margin-right: 10px;
}


.accordion * {
    border: none;
}
.accordion-header button, .accordion-header button:focus{
    padding: 0;
    margin: 1rem 1.25rem;
    font-size: 12px;
    border: none;
    width: auto;
    box-shadow: none;
    background-color: transparent !important;
}
.accordion-header button::after{
    margin-left: 5px;
    width: 0.75rem;
    height: 0.75rem;
    background-size: 0.75rem;
}
.accordion-body {
    display: flex;
    padding: 0;
}