{% extends 'base.html' %}

{% block title %} Immotep {% endblock %}

{% block content %}

{% include 'includes/navigation.html' %}

<main role="main">

    <div class="jumbotron py-100">
        <div class="container">
            <h1 class="display-3">Bienvenue sur Immotep</h1>
            <p>Le site de référence des annonces immobilières entre particuliers.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces &raquo;</a></p>
        </div>
    </div>

</main>

{% endblock %}