{% load static %}
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css"/>

    <!-- JS, Popper.js, and jQuery -->
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.6.0.slim.min.js'%} "></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%} "></script>

    </head>
<body>
    {% block content %}
    {% endblock %}
</body>

</html>