{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% translate "Profile" %}{% endblock %}

{% block content %} 

<!--Profile--> 

<div class="container py-5">
	<h1>{% translate "Profile" %}</h1>
	<div class="container">
		<div class="row p-5 mb-5 advertBlock">
			<div class="col-9">
				<h2 class="mb-3">{% translate "My details" %}</h2>
				<div class="mb-2">{% blocktranslate with username=user.username %}Name : {{ username }}{% endblocktranslate %}</div>
				<div class="mb-2">{% blocktranslate with email=user.email %}E-mail address : {{ email }}{% endblocktranslate %}</div>
				<div class="mb-2">{% translate "Password" %} : ***************</div>
				<div class="mb-2">{% blocktranslate with phone_number=user_account.phone_number %}Phone number : {{ phone_number }}{% endblocktranslate %}</div>
				<div class="mb-2">{% blocktranslate with postal_code=user_account.postal_code %}Zip code : {{ postal_code }}{% endblocktranslate %}</div>
			</div>
			<div class="col-3 text-end d-flex flex-column justify-content-between">
				<div class="edit">
					<a href="{% url 'adverts:update-account' %}" title="{% translate "Edit" %}" class="text-dark"><i class="bi bi-pencil-square" style="font-size: 2rem"></i></a>
				</div>
				<div class="logout">
					<a href="{% url 'adverts:logout' %}"><span class="small">{% translate "Log out" %}</span></a>
				</div>
			</div>
		</div>
	</div>
	<h2>{% translate "My adverts" %}</h2>
	<div class="container px-0">

	{% include 'includes/user_adverts.html' %}
	
	</div>
</div>

{% include "includes/confirm_modal.html" %}

{% endblock %}