{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate "Change my password" %}{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}

<!--Change password--> 
<div class="container py-5">
    <h1>{% translate "Change my password" %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% translate "Update" %}</button>
    </form>
    <a href="{% url 'adverts:account' %}">{% translate "Cancel" %}</a>
</div>
{% endblock %}