{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate "Change my password" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}       

<div class="container py-5">
    <form method="POST">
        <div class="row justify-content-center" >    
            <h1 class="text-center">{% translate "Change my password" %}</h1>        
            <div class="col-8 borderCustom mt-5 pt-5 pb-5"> 
                    <div class="row justify-content-center">
                        <div class="col-8 ">  
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                    </div>
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                        <button class="buttonCustom mt-5" type="submit">{% translate "Update my password" %}</button>
                        <p class="text-center mt-3"><a href="{% url 'adverts:account' %}">{% translate "Cancel" %}</a></p> 
                    </div>     
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}