{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate "Delete an advert" %}{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1>{% translate "Delete an advert" %}</h1>
        <div>{% translate "Are you certain that you wish to delete this advert? :" %}
            <div>{% blocktranslate with service_t=advert.service_type property_t=advert.property_type city=advert.city price=advert.price %}{{ service_t }} - {{ property_t }} in {{ city }} for {{ price }} €{% endblocktranslate %}</div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
        <input type="submit" value="{% translate "Delete" %}" class="btn btn-danger mt-2">
    </div>
{% endblock %}
