{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% translate "Details of the advert" %}{% endblock %}

{% block content %} 

<style>
    .avertInfoBlock {
        border: 2px solid #D5BDAD;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        color: #2A4252;
    }

    .avertInfoBlock .h4 {
        border-color: #baaa9a !important;
        color: #D5BDAD;
    }

    .avertInfoBlock .active {
        padding-right: 0.75rem!important;
        padding-left: 0.75rem !important;
        font-size: calc(1.375rem + 1.5vw);
        background-color: #D5BDAD;
        color: white;
    }
    #userAdvertCarousel{
        height:360px;
    }
    #userAdvertCarousel .carousel-control-next-icon, #userAdvertCarousel .carousel-control-prev-icon {
        background-color: rgba(0, 0, 0, 0.25);
        background-size: 60%;
    }

    #userAdvertCarousel .carousel-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
    }

    #userAdvertCarousel .carousel-indicators {
        background-color: rgba(0, 0, 0, 0.10);
        width: fit-content;
    }

    #userAdvertCarousel .carousel-indicators .active {
        background-color: #ffa970;
    }

    /* RESPONSIVE */
    @media screen and (max-width:1022px){
        .conteneur-mobile{
            flex-direction: column;
        }
        .col-left, .col-right{
            width:100% !important;
            margin-left: 0 !important;
        }
        .col-right{
            margin-top:30px;
        }
    }
    @media screen and (max-width:767px){
        .advert-conso{
            flex-direction: column;
        }
        .advert-conso > .avertInfoBlock{
            width:100%;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
        .advert-conso > .avertInfoBlock:first-of-type{
            margin-bottom: 30px !important;
        }
    }

</style>

<!--Advert details--> 
<div class="container py-5">
    <div class="mb-4 d-flex flex-wrap justify-content-between">
        <div><a href="{% url 'adverts:properties-list' %}" class="text-decoration-none text-dark"><i class="bi bi-arrow-left"></i> {% translate "Return" %}</a></div>
        {% if advert_infos.creator.id == user.id %}
        <div>
            <a class="text-dark" href="{% url 'adverts:update-advert' advert_infos.id %}" title="{% translate "Modify my advert" %}">
                <i class="bi bi-gear" style="font-size: 2rem"></i></a>
            <a href="{% url 'adverts:delete-advert' advert_infos.id %}" class="text-dark" data-bs-toggle="modal" data-bs-target="#delete-item-modal" id="delete-item" title="{% translate "Delete my advert" %}">
                <i class="bi bi-trash" style="font-size: 2rem"></i>
            </a>
        </div>
        {% else %}
            {% if user_favs|index:forloop.counter0 == advert_infos.id %}
                <div>
                    <a class="text-dark" href="{% url 'adverts:remove-favorite' advert_infos.id %}" title="{% translate "Delete from favorites" %}">
                        <i class="bi bi-heart-fill" style="font-size: 2rem"></i>
                    </a>
                </div>
            {% else %}
                <div>
                    <a class="text-dark" href="{% url 'adverts:add-favorite' advert_infos.id %}" title="{% translate "Add to favorites" %}">
                        <i class="bi bi-heart" style="font-size: 2rem"></i>
                    </a>
                </div>       
            {% endif %}
        {% endif %}
    </div>
    <div class="d-flex conteneur-mobile">
        <div class="col-7 px-0 col-left">
            <div id="userAdvertCarousel" class="carousel carousel-fade slide w-100" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-indicators mx-auto rounded">
                    {% for i in advert_infos.picture_count %}
                        <button type="button" data-bs-target="#userAdvertCarousel" data-bs-slide-to="{{ i }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner" style="width: 100%; height: 100%">
                    {% for picture in advert_infos.pictures %}
                        <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}" style="background-image: url('{% get_media_prefix %}images/{{ advert_infos.id }}/{{ picture }}')"></div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#userAdvertCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon rounded-circle p-4 ms-3" aria-hidden="true"></span>
                  <span class="visually-hidden">{% translate "Previous" %}</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#userAdvertCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon rounded-circle p-4 me-3" aria-hidden="true"></span>
                  <span class="visually-hidden">{% translate "Next" %}</span>
                </button>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="fw-bold h5">{{ advert_infos.service_type }} - {{ advert_infos.property_type }}</div>
                <div class="fw-bold h3">{{ advert_infos.price }} €</div>
            </div>
            <div>{% blocktranslate with room_c=advert_infos.room_count bedroom_c=advert_infos.bedroom_count surface=advert_infos.surface %}{{ room_c }} room(s) - {{ bedroom_c }} bedroom(s) - {{ surface }}m²{% endblocktranslate %}</div>
            <div> 
                {% if advert_infos.is_furnished %}- {% translate "Furnished" %}{% endif %}
                {% if advert_infos.has_balcony %}- {% translate "Balcony" %} {% endif %}
                {% if advert_infos.has_terrace %}- {% translate "Terrace" %} {% endif %}
                {% if advert_infos.has_elevator %}- {% translate "Elevator" %} {% endif %}
                {% if advert_infos.has_parking %}- {% translate "Parking" %} -{% endif %}
            </div>
            <div class="mt-4">
                <div class="fw-bold h5">{% translate "Address" %}</div>
                <div class="mt-4">{{ advert_infos.street_number }} {{ advert_infos.street_name }}, {{ advert_infos.city }} ({{ advert_infos.postal_code }})</div>
            </div>
            <div class="mt-4">
                <div class="fw-bold h5">{% translate "Description" %}</div>
                <div class="mt-3">{{ advert_infos.description }}</div>
            </div>
            <div class="mt-4">
                <div class="fw-bold h5">{% translate "Energy use" %}</div>
                <div class="mt-4 d-flex advert-conso">
                    <div class="w-lg-50 avertInfoBlock me-4 p-3 text-center small">
                        <div>{% translate "Energy performance diagnosis (DPE)" %}</div>
                        <div class="mt-3 d-flex justify-content-center align-items-center">
                            {% for letter in "ABCDEFG" %}
                                <div class="h4 fw-bold border border-dark p-2 {% if advert_infos.energy_use == letter %}active{% endif %}">{{ letter }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="w-lg-50 avertInfoBlock ms-4 p-3 text-center small">
                        <div>{% translate "Greenhouse gas emission index (GHG)" %}</div>
                        <div class="mt-3 d-flex justify-content-center align-items-center">
                            {% for letter in "ABCDEFG" %}
                                <div class="h4 fw-bold border border-dark p-2 {% if advert_infos.greenhouse_gas == letter %}active{% endif %}">{{ letter }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if advert_infos.service_type == "Location" %}
                <div class="w-50 mt-5">
                    <div class="avertInfoBlock d-flex justify-content-around align-items-center me-5 p-3">
                        <div>{% translate "Warranty" %}</div>
                        <div class="h3 mb-0">{{ advert_infos.warranty_deposit }} €</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-5 col-right ms-4">
            <div class="py-4 ps-5 avertInfoBlock">
                <div class="fw-bold h4">{% translate "Contact the owner" %}</div>
                {% if request.user.is_authenticated %}
                <div class="fw-bold">{% translate "Owner" %}</div>
                <div class="mt-2">{{ advert_infos.creator }}</div>
                <div class="fw-bold mt-3">{% translate "Mail" %}</div>
                <div class="mt-2"><a href="mailto:{{ advert_infos.creator.user.email}}" class="text-decoration-none"><i class="bi bi-envelope-fill"></i> {{ advert_infos.creator.user.email}}</a></div>
                <div class="fw-bold mt-3">{% translate "Phone number" %}</div>
                <div class="mt-2"><a href="tel:{{ advert_infos.creator.phone_number}}" class="text-decoration-none"><i class="bi bi-telephone-fill"></i> {{ advert_infos.creator.phone_number }}</a></div>
                {% else %}
                <div>{% translate "To see owner contact details you must be connected" %}</div>
                <button class="buttonCustom mt-3"><a href="{% url 'adverts:login' %}" class="text-decoration-none text-light">{% translate "Log in" %}</a></button>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% include "includes/confirm_modal.html" %}

{% endblock %}