{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate "Login" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}       

<div class="container py-5">
    <form method="POST">
        <div class="row justify-content-center" >    
            <h2 class="text-center">{% translate "Login" %}</h3>        
            <div class="col-12 col-md-8 borderCustom mt-5 pt-5 pb-5"> 
                    <div class="row justify-content-center">
                        <div class="col-8 ">  
                            {% csrf_token %}
                            <div class="row">
                                {{ login_form.username|as_crispy_field }}
                            </div>
                            <div class="row mt-4">
                                {{ login_form.password|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                        <button type="submit" class="buttonCustom mt-5">{% translate "Log in" %}</button>
                        <p class="text-center mt-3">{% translate "Don't have an account? " %}<a href="{% url 'adverts:register' %}">{% translate "Sign up" %}</a></p> 
                    </div>     
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}