{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% translate "Adverts list" %}{% endblock %}

{% block content %}


<div class="container py-5">
    <div class="container">
        <form method="GET">
            <div class="filters">
                <div class="filter mobile-m">
                    <label for="type-prop">{% translate "Property type" %}</label>
                    <select class="large" name="type-prop" id="type-prop">
                        <option value="">{% translate "All" %}</option>
                        <option value="maison">{% translate "House" %}</option>
                        <option value="appartement">{% translate "Apartment" %}</option>
                    </select>
                </div>
                <div class="filter">
                    <label for="type-purs">{% translate "Service type" %}</label>
                    <select class="large" name="type-purs" id="type-purs">
                        <option value="">{% translate "All" %}</option>
                        <option value="location">{% translate "For rent" %}</option>
                        <option value="achat">{% translate "For Sale" %}</option>
                    </select>
                </div>
                <div class="filter mobile-m">
                    <label for="pieces">{% translate "Room(s)" %}</label>
                    <input type="number" min="0" name="pieces" id="pieces">
                </div>
                <div class="filter">
                    <label for="chambers">{% translate "Bedroom(s)" %}</label>
                    <input type="number" min="0" name="chambers" id="chambers">
                </div>
                <div class="double-filter">
                    <div class="filter f-left">
                        <label for="min-surface">{% translate "Min surface." %}</label>
                        <input type="number" min="0" name="min-surface" id="min-surface">
                    </div>
                    <div class="filter f-right">
                        <label for="max-surface">{% translate "Max surface." %}</label>
                        <input type="number" min="0" name="max-surface" id="max-surface">
                    </div>
                </div>
                <div class="double-filter">
                    <div class="filter f-left">
                        <label for="min-price">{% translate "Min price." %}</label>
                        <input type="number" min="0" name="min-price" id="min-price">
                    </div>
                    <div class="filter f-right">
                        <label for="max-price">{% translate "Max price." %}</label>
                        <input type="number" min="0" name="max-price" id="max-price">
                    </div>
                </div>
                <div class="filter mobile-full">
                    <label for="city">{% translate "City" %}</label>
                    <div class="f-city">
                        <input class="large" type="text" name="city" id="city">
                        <i class="fa-solid fa-magnifying-glass text-dark"></i>
                    </div>
                </div>
                <button type="submit" class="buttonCustom">{% translate "Confirm" %}</button> 
            </div>
            <div class="secondary-filters accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Plus de filtres
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="filter f-checkbox mobile-m">
                            <input type="checkbox" name="furniture" id="furniture"> 
                            <label for="furniture">{% translate "Furnished" %}</label>     
                        </div>
                        <div class="filter f-checkbox">
                            <input type="checkbox" name="balcony" id="balcony"> 
                            <label for="balcony">{% translate "Balcony" %}</label>   
                        </div>  
                        <div class="filter f-checkbox mobile-m">
                            <input type="checkbox" name="terrace" id="terrace"> 
                            <label for="terrace">{% translate "Terrace" %}</label>   
                        </div> 
                        <div class="filter f-checkbox">
                            <input type="checkbox" name="elevator" id="elevator"> 
                            <label for="elevator">{% translate "Elevator" %}</label>   
                        </div>  
                        <div class="filter f-checkbox">
                            <input type="checkbox" name="parking" id="parking"> 
                            <label for="parking">{% translate "Parking" %}</label>   
                        </div> 
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container py-5">
        {% if not adverts %}
            <div class="empty-message text-center fw-bold" style="font-size: 24px">Aucun bien correspond à vos critères 😢</div>
        {% endif %}
        
        {% include 'includes/all_adverts.html' %}
    </div>
</div>
{% endblock %}