{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate "Profile" %}{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Edit profile--> 
<div class="container py-5">
	<h1>{% translate "Editing of the profile" %}</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<a href="{% url 'adverts:update-password' %}">{% translate "Change your password" %}</a>
		<hr />
        {{ account_form|crispy }}
		<button class="btn btn-primary" type="submit">{% translate "Update" %}</button>
	</form>
	<a href="{% url 'adverts:account' %}">{% translate "Cancel" %}</a>
</div>

{% endblock %}