
{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate "Edit profile" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}       


    <div class="container py-5">
        <form method="POST">
            <div class="row justify-content-center" >    
              <h1 class="text-center">{% translate "Editing of the profile" %}</h1>        
                <div class="col-12 col-md-8 borderCustom mt-5 pt-5 pb-3"> 
                        <div class="row justify-content-center">
                            <div class="col-8">  
								{% csrf_token %}
								<div class="row">
									{{ register_form.username|as_crispy_field }}
								</div>
								<div class="row mt-4">
									{{ register_form.email|as_crispy_field }}
								</div>
								<div class="row mt-4">
									<div class="col">
										{{ account_form.postal_code|as_crispy_field }}
									</div>
									<div class="col">
										{{ account_form.phone_number|as_crispy_field }}
									</div>
								</div>
                            </div>
                        </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
							<button class="buttonCustom mt-5 mb-3"><a class="text-decoration-none text-light" href="{% url 'adverts:account' %}">{% translate "Cancel" %}</a></button>
                            <button type="submit" class="buttonCustom mt-5 mb-3">{% translate "Update my profile" %}</button>
						</br>
							<a href="{% url 'adverts:update-password' %}">{% translate "Change your password" %}</a>
                        </div>     
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}