{% load i18n %}

<div class="api-advert-list">
    {% for prop in properties %}
        <div class="card">
            <div id="carouselExampleIndicators{{prop.id}}" class="carousel carousel-fade slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators{{prop.id}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators{{prop.id}}" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators{{prop.id}}" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" style="height: 200px">
                  <div class="carousel-item h-100 active">
                    <img src="http://placeimg.com/740/480/arch" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item h-100">
                    <img src="http://placeimg.com/740/481/arch" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item h-100">
                    <img src="http://placeimg.com/740/482/arch" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{prop.id}}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">{% translate "Previous" %}</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{prop.id}}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">{% translate "Next" %}</span>
                </button>
            </div>
            <div class="card-body">
                <div class="card-header-custom">
                    <h5 class="card-title">{{prop.price}}€</h5>
                </div>
                <div class="prop-info">
                    <p>{{prop.property_type}}</p>
                    <p>{% blocktranslate with room_c=prop.pieces_number bedroom_c=prop.bedrooms surface=prop.surface %}{{ room_c }} room(s) - {{ bedroom_c }} bedroom(s) - {{ surface }}m²{% endblocktranslate %}</p>
                    <p>{{prop.adress_1}}, {{prop.city}} ({{prop.zip_code}})</p>
                </div>
                <a href="https://www.zillow.com/tx/" target="_blank"></a>
            </div>
        </div>
    {%endfor%}
</div>
